.title {
    font-family: serif;
    font-size: 32px;
    color: aliceblue;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    background-color: red;
    float: left;
    display: inline-block;
    height: 400px;
    margin: 0;
    padding: 0;
}
.intro {
    font-style: normal;
    font-size: 24px;

}
