.title {
    font-family: serif;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    background-position: center;
}
.intro {
    font-style: normal;
    font-size: 24px;

}